#main{
    // navbar + page content
    .wrapper {
        min-height: 100vh;
        margin-bottom: -50px;
        background: $background-color;
        .navbar-nav {
            a {
                padding-left: 10px;
                color: white;
            }
        }
    }

    .inline-div {
        display:inline;
    }

    div[class^=col-] {
        padding-right: 0px;
        padding-left: 0px;
    }

    .slide-fade-enter-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }

    .footer {
        background-color: #343a40; //#111
        padding: 12px 0;
        font-size: 14px;
        height: 50px;
    }
}