#main{
    .wrapper {
        min-height: 100vh;
        /* Equal to height of footer */
        /* But also accounting for potential margin-bottom of last child */
        margin-bottom: -50px;
        .navbar-nav {
            a {
                padding-left: 10px;
                color: white;
            }
        }
    }
    .footer {
        background-color: #343a40; //#111
        padding: 12px 0;
        font-size: 14px;
        height: 50px;
    }
}